* {
  box-sizing: border-box;
}

.carousel-pic {
  height: 20em;
  border: 1px solid black;
  margin-top: 2em;
  width: 50%; 
}

.next-button {
  border: 1px solid black;
}

.back-button {
  border: 1px solid black;
}
